{% extends "base.html" %}
{% block title %}Home - Flask Blog{% endblock %}
{% block content %}
<h2>All Blog Posts</h2>
<a href="{{ url_for('create') }}"><button>Create New Post</button></a>
<hr>
{% for post in posts %}
    <h3><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h3>
    <p>{{ post.content[:200] }}{% if post.content|length > 200 %}...{% endif %}</p>
    <p><i>By {{ post.author }} on {{ post.date_created.strftime('%Y-%m-%d %H:%M') }}</i></p>
    <a href="{{ url_for('delete', id=post.id) }}"><button style="background:#ff4d4d;">Delete</button></a>
    <hr>
{% else %}
    <p>No posts yet.</p>
{% endfor %}
{% endblock %}
